<div class="d-flex pt-5 justify-content-evenly">
  <mat-card style="width: 20%">
    <div class="example-container text-center">
      <h2>Register</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit($event)">
      <mat-form-field style="display: block" appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input formControlName="email" matInput placeholder="name@email.com" />
        <!--    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
      </mat-form-field>

      <mat-form-field style="display: block" appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

<!--      <mat-form-field style="display: block" appearance="outline">-->
<!--        <mat-label>Confirm password</mat-label>-->
<!--        <input matInput [type]="hide ? 'password' : 'text'">-->
<!--        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">-->
<!--          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--        </button>-->
<!--      </mat-form-field>-->

      <button type="submit" mat-flat-button color="warn">Register</button>
      </form>
    </div>

  </mat-card>
</div>

