<div class="footer-container pt-3">
  <div class="row text-center">
    <h3 style="color: #000; font-size: 25px; font-weight: bold">NJ</h3>
  </div>
  <div class="row d-flex justify-content-center my-4">
    <button type="button" class="btn btn-dark contact-button">Send the latest news</button>
  </div>

  <div class="row text-center my-5" style="padding: 30px 120px 80px 120px">
    <div class="col-2">
      <a class="footer-link" href="">Contact us</a>
    </div>
    <div class="col-2">
      <a class="footer-link" href="">Marketing</a>
    </div>
    <div class="col-2">
      <a class="footer-link" href="">Politics and privacy</a>
    </div>
    <div class="col-2">
      <a class="footer-link" href=""> Condition terms</a>
    </div>
    <div class="col-2">
      <a class="footer-link" href="">About us</a>
    </div>
    <div class="col-2">
      <a class="footer-link" href="">Contact us</a>
    </div>
  </div>
</div>
